{% extends "AcmeAKB48Bundle::layout.html.twig" %}

{% block content %}

<h2>{{ member.name }} ({{ member.familyNameKana }} {{ member.firstNameKana }})</h2>
<ul>
  <li>{{ member.nickname }}</li>
  <li>{{ member.firstNameEn }} {{ member.familyNameEn }}</li>
  <li>誕生日：{{ member.birthday.format('Y年m月d日') }}</li>
  <li>出身：{{ member.hometown }}</li>
  {% if member.graduatedAt %}
    <li>卒業：{{ member.graduatedAt.format('Y年m月d日') }}</li>
  {% endif %}
  <li>チーム：{{ member.team }}</li>
  <li>クラス：{{ member.class }}</li>
  <li><a href="http://ja.wikipedia.org/wiki/{{ member.familyName}}{{ member.firstName }}">Wikipedia</a> <a href="http://red.ribbon.to/~bingo/?{{ member.familyName}}{{ member.firstName }}">エケペディア</a></li>
</ul>

<iframe width="800" height="400" src="http://red.ribbon.to/~bingo/?{{ member.familyName}}{{ member.firstName }}"></iframe>

<a href="{{ path('index') }}">一覧に戻る</a>
{% endblock %}

